USE [MovieTicketDB]
GO
/****** Object:  Table [dbo].[BookingPromotions]    Script Date: 28/07/2026 12:44:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingPromotions](
	[booking_id] [uniqueidentifier] NOT NULL,
	[promotion_id] [uniqueidentifier] NOT NULL,
	[discount_applied] [decimal](12, 2) NOT NULL,
 CONSTRAINT [PK_BookingPromotions] PRIMARY KEY CLUSTERED 
(
	[booking_id] ASC,
	[promotion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 28/07/2026 12:44:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[id] [uniqueidentifier] NOT NULL,
	[booking_code] [nvarchar](50) NOT NULL,
	[user_id] [uniqueidentifier] NULL,
	[showtime_id] [uniqueidentifier] NOT NULL,
	[booking_source] [nvarchar](10) NOT NULL,
	[created_by_staff_id] [uniqueidentifier] NULL,
	[customer_name] [nvarchar](255) NULL,
	[customer_phone] [nvarchar](20) NULL,
	[vat_rate_snapshot] [decimal](5, 2) NOT NULL,
	[total_amount] [decimal](12, 2) NOT NULL,
	[discount_amount] [decimal](12, 2) NOT NULL,
	[final_amount] [decimal](12, 2) NOT NULL,
	[booking_status] [nvarchar](20) NOT NULL,
	[payment_status] [nvarchar](10) NOT NULL,
	[booked_at] [datetime2](7) NOT NULL,
	[expired_at] [datetime2](7) NULL,
	[points_redeemed] [int] NOT NULL,
 CONSTRAINT [PK_Bookings] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_Bookings_Code] UNIQUE NONCLUSTERED 
(
	[booking_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingSeats]    Script Date: 28/07/2026 12:44:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingSeats](
	[id] [uniqueidentifier] NOT NULL,
	[booking_id] [uniqueidentifier] NOT NULL,
	[seat_id] [uniqueidentifier] NOT NULL,
	[ticket_price] [decimal](12, 2) NOT NULL,
 CONSTRAINT [PK_BookingSeats] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_BookingSeats_BookingSeat] UNIQUE NONCLUSTERED 
(
	[booking_id] ASC,
	[seat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CinemaRooms]    Script Date: 28/07/2026 12:44:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CinemaRooms](
	[id] [uniqueidentifier] NOT NULL,
	[room_name] [nvarchar](100) NOT NULL,
	[capacity] [int] NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_CinemaRooms] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_CinemaRooms_Name] UNIQUE NONCLUSTERED 
(
	[room_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genres]    Script Date: 28/07/2026 12:44:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genres](
	[id] [uniqueidentifier] NOT NULL,
	[genre_name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](500) NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Genres] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_Genres_Name] UNIQUE NONCLUSTERED 
(
	[genre_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoyaltyPointsLog]    Script Date: 28/07/2026 12:44:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoyaltyPointsLog](
	[id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[booking_id] [uniqueidentifier] NULL,
	[points_delta] [int] NOT NULL,
	[transaction_type] [nvarchar](20) NOT NULL,
	[note] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_LoyaltyPointsLog] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovieGenres]    Script Date: 28/07/2026 12:44:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovieGenres](
	[movie_id] [uniqueidentifier] NOT NULL,
	[genre_id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_MovieGenres] PRIMARY KEY CLUSTERED 
(
	[movie_id] ASC,
	[genre_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovieReviews]    Script Date: 28/07/2026 12:44:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovieReviews](
	[id] [uniqueidentifier] NOT NULL,
	[movie_id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[rating] [int] NOT NULL,
	[review_content] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_MovieReviews] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_MovieReviews_UserMovie] UNIQUE NONCLUSTERED 
(
	[movie_id] ASC,
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movies]    Script Date: 28/07/2026 12:44:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movies](
	[id] [uniqueidentifier] NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[slug] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[duration_minutes] [int] NOT NULL,
	[release_date] [date] NULL,
	[trailer_url] [nvarchar](max) NULL,
	[poster_url] [nvarchar](max) NULL,
	[backdrop_url] [nvarchar](max) NULL,
	[director] [nvarchar](255) NULL,
	[cast_members] [nvarchar](max) NULL,
	[language] [nvarchar](50) NULL,
	[subtitle] [nvarchar](50) NULL,
	[age_rating] [nvarchar](10) NULL,
	[status] [nvarchar](20) NOT NULL,
	[average_rating] [decimal](3, 2) NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Movies] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_Movies_Slug] UNIQUE NONCLUSTERED 
(
	[slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PasswordResetTokens]    Script Date: 28/07/2026 12:44:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PasswordResetTokens](
	[id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[token] [nvarchar](255) NOT NULL,
	[expired_at] [datetime2](7) NOT NULL,
	[used_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[purpose] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_PasswordResetTokens] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_PasswordResetTokens_Token] UNIQUE NONCLUSTERED 
(
	[token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 28/07/2026 12:44:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[id] [uniqueidentifier] NOT NULL,
	[booking_id] [uniqueidentifier] NOT NULL,
	[payment_method] [nvarchar](20) NOT NULL,
	[payment_source] [nvarchar](10) NOT NULL,
	[transaction_code] [nvarchar](255) NULL,
	[amount] [decimal](12, 2) NOT NULL,
	[cash_received] [decimal](12, 2) NULL,
	[change_amount] [decimal](12, 2) NULL,
	[payment_status] [nvarchar](10) NOT NULL,
	[paid_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PricingRules]    Script Date: 28/07/2026 12:44:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PricingRules](
	[id] [uniqueidentifier] NOT NULL,
	[rule_name] [nvarchar](100) NOT NULL,
	[condition_type] [nvarchar](20) NOT NULL,
	[day_of_week] [nvarchar](20) NULL,
	[time_from] [time](7) NULL,
	[time_to] [time](7) NULL,
	[date_from] [date] NULL,
	[date_to] [date] NULL,
	[adjustment_type] [nvarchar](20) NOT NULL,
	[adjustment_value] [decimal](10, 2) NOT NULL,
	[priority] [int] NOT NULL,
	[status] [nvarchar](10) NOT NULL,
	[created_by] [uniqueidentifier] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_PricingRules] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotions]    Script Date: 28/07/2026 12:44:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotions](
	[id] [uniqueidentifier] NOT NULL,
	[code] [nvarchar](50) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[discount_type] [nvarchar](20) NOT NULL,
	[discount_value] [decimal](12, 2) NOT NULL,
	[max_discount_amount] [decimal](12, 2) NULL,
	[min_order_amount] [decimal](12, 2) NULL,
	[start_date] [datetime2](7) NOT NULL,
	[end_date] [datetime2](7) NOT NULL,
	[usage_limit] [int] NULL,
	[used_count] [int] NOT NULL,
	[status] [nvarchar](10) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[image_url] [nvarchar](500) NULL,
 CONSTRAINT [PK_Promotions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_Promotions_Code] UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReviewDeletionLog]    Script Date: 28/07/2026 12:44:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReviewDeletionLog](
	[id] [uniqueidentifier] NOT NULL,
	[movie_id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[reason] [nvarchar](500) NOT NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ReviewDeletionLog] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 28/07/2026 12:44:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[id] [uniqueidentifier] NOT NULL,
	[role_name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_Roles_Name] UNIQUE NONCLUSTERED 
(
	[role_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SeatHolds]    Script Date: 28/07/2026 12:44:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeatHolds](
	[id] [uniqueidentifier] NOT NULL,
	[showtime_id] [uniqueidentifier] NOT NULL,
	[seat_id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NULL,
	[expired_at] [datetime2](7) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_SeatHolds] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_SeatHolds_ShowtimeSeat] UNIQUE NONCLUSTERED 
(
	[showtime_id] ASC,
	[seat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seats]    Script Date: 28/07/2026 12:44:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seats](
	[id] [uniqueidentifier] NOT NULL,
	[room_id] [uniqueidentifier] NOT NULL,
	[seat_type_id] [uniqueidentifier] NOT NULL,
	[seat_row] [nvarchar](10) NOT NULL,
	[seat_column] [int] NOT NULL,
	[seat_code] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Seats] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_Seats_Code] UNIQUE NONCLUSTERED 
(
	[room_id] ASC,
	[seat_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SeatTypes]    Script Date: 28/07/2026 12:44:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeatTypes](
	[id] [uniqueidentifier] NOT NULL,
	[type_name] [nvarchar](50) NOT NULL,
	[price_multiplier] [decimal](5, 2) NOT NULL,
	[description] [nvarchar](max) NULL,
	[seat_span] [int] NOT NULL,
 CONSTRAINT [PK_SeatTypes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_SeatTypes_Name] UNIQUE NONCLUSTERED 
(
	[type_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShowtimeIncidents]    Script Date: 28/07/2026 12:44:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShowtimeIncidents](
	[id] [uniqueidentifier] NOT NULL,
	[showtime_id] [uniqueidentifier] NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[refund_points_rate] [decimal](3, 2) NOT NULL,
	[compensation_discount_type] [nvarchar](20) NOT NULL,
	[compensation_discount_value] [decimal](12, 2) NOT NULL,
	[compensation_valid_days] [int] NOT NULL,
	[processed_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ShowtimeIncidents] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_ShowtimeIncidents_Showtime] UNIQUE NONCLUSTERED 
(
	[showtime_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Showtimes]    Script Date: 28/07/2026 12:44:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Showtimes](
	[id] [uniqueidentifier] NOT NULL,
	[movie_id] [uniqueidentifier] NOT NULL,
	[room_id] [uniqueidentifier] NOT NULL,
	[start_time] [datetime2](7) NOT NULL,
	[end_time] [datetime2](7) NOT NULL,
	[base_price] [decimal](12, 2) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[created_by] [uniqueidentifier] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Showtimes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemConfig]    Script Date: 28/07/2026 12:44:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemConfig](
	[config_key] [nvarchar](100) NOT NULL,
	[config_value] [nvarchar](500) NOT NULL,
	[description] [nvarchar](255) NULL,
	[updated_by] [uniqueidentifier] NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_SystemConfig] PRIMARY KEY CLUSTERED 
(
	[config_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemConfigLog]    Script Date: 28/07/2026 12:44:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemConfigLog](
	[id] [uniqueidentifier] NOT NULL,
	[earn_rate] [nvarchar](20) NOT NULL,
	[redeem_rate] [nvarchar](20) NOT NULL,
	[min_redeem] [nvarchar](20) NOT NULL,
	[max_redeem_per_order] [nvarchar](20) NOT NULL,
	[previous_earn_rate] [nvarchar](20) NULL,
	[previous_redeem_rate] [nvarchar](20) NULL,
	[previous_min_redeem] [nvarchar](20) NULL,
	[previous_max_redeem_per_order] [nvarchar](20) NULL,
	[updated_by] [uniqueidentifier] NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_SystemConfigLog] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 28/07/2026 12:44:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[id] [uniqueidentifier] NOT NULL,
	[booking_seat_id] [uniqueidentifier] NOT NULL,
	[ticket_code] [nvarchar](100) NOT NULL,
	[qr_code] [nvarchar](max) NULL,
	[is_printed] [bit] NOT NULL,
	[issued_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Tickets] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_Tickets_BookingSeat] UNIQUE NONCLUSTERED 
(
	[booking_seat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_Tickets_Code] UNIQUE NONCLUSTERED 
(
	[ticket_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 28/07/2026 12:44:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [uniqueidentifier] NOT NULL,
	[role_id] [uniqueidentifier] NOT NULL,
	[email] [nvarchar](255) NULL,
	[username] [nvarchar](100) NULL,
	[phone_number] [nvarchar](20) NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[full_name] [nvarchar](255) NOT NULL,
	[date_of_birth] [date] NOT NULL,
	[avatar_url] [nvarchar](max) NULL,
	[status] [nvarchar](20) NOT NULL,
	[loyalty_points] [int] NOT NULL,
	[last_login_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_Users_Email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_Users_Phone] UNIQUE NONCLUSTERED 
(
	[phone_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_Users_Uname] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserStatusLog]    Script Date: 28/07/2026 12:44:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserStatusLog](
	[id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[action] [nvarchar](20) NOT NULL,
	[previous_status] [nvarchar](20) NOT NULL,
	[new_status] [nvarchar](20) NOT NULL,
	[reason] [nvarchar](500) NULL,
	[email_sent] [bit] NOT NULL,
	[email_error] [nvarchar](255) NULL,
	[performed_by] [uniqueidentifier] NULL,
	[performed_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_UserStatusLog] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VatRules]    Script Date: 28/07/2026 12:44:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VatRules](
	[id] [uniqueidentifier] NOT NULL,
	[rule_name] [nvarchar](100) NOT NULL,
	[vat_rate] [decimal](5, 2) NOT NULL,
	[start_date] [datetime2](7) NOT NULL,
	[end_date] [datetime2](7) NULL,
	[status] [nvarchar](10) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_VatRules] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ((0)) FOR [total_amount]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ((0)) FOR [discount_amount]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ((0)) FOR [final_amount]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ('PENDING') FOR [booking_status]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ('UNPAID') FOR [payment_status]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (getdate()) FOR [booked_at]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ((0)) FOR [points_redeemed]
GO
ALTER TABLE [dbo].[BookingSeats] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[CinemaRooms] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[CinemaRooms] ADD  DEFAULT ((0)) FOR [capacity]
GO
ALTER TABLE [dbo].[CinemaRooms] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[CinemaRooms] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Genres] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[Genres] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Genres] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[LoyaltyPointsLog] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[LoyaltyPointsLog] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[MovieReviews] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[MovieReviews] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Movies] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[Movies] ADD  DEFAULT ('COMING_SOON') FOR [status]
GO
ALTER TABLE [dbo].[Movies] ADD  DEFAULT ((0.00)) FOR [average_rating]
GO
ALTER TABLE [dbo].[Movies] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[PasswordResetTokens] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[PasswordResetTokens] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[PasswordResetTokens] ADD  CONSTRAINT [DF_PasswordResetTokens_Purpose]  DEFAULT ('REGISTER_VERIFY') FOR [purpose]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ('PENDING') FOR [payment_status]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[PricingRules] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[PricingRules] ADD  DEFAULT ((0)) FOR [priority]
GO
ALTER TABLE [dbo].[PricingRules] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[PricingRules] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Promotions] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[Promotions] ADD  DEFAULT ((0)) FOR [used_count]
GO
ALTER TABLE [dbo].[Promotions] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[Promotions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[ReviewDeletionLog] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[ReviewDeletionLog] ADD  DEFAULT (getdate()) FOR [deleted_at]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[SeatHolds] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[SeatHolds] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Seats] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[SeatTypes] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[SeatTypes] ADD  DEFAULT ((1.00)) FOR [price_multiplier]
GO
ALTER TABLE [dbo].[SeatTypes] ADD  CONSTRAINT [DF_SeatTypes_SeatSpan]  DEFAULT ((1)) FOR [seat_span]
GO
ALTER TABLE [dbo].[ShowtimeIncidents] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[ShowtimeIncidents] ADD  DEFAULT ((1.00)) FOR [refund_points_rate]
GO
ALTER TABLE [dbo].[ShowtimeIncidents] ADD  DEFAULT ((30)) FOR [compensation_valid_days]
GO
ALTER TABLE [dbo].[ShowtimeIncidents] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Showtimes] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[Showtimes] ADD  DEFAULT ('SCHEDULED') FOR [status]
GO
ALTER TABLE [dbo].[Showtimes] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[SystemConfig] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[SystemConfigLog] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[SystemConfigLog] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Tickets] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[Tickets] ADD  DEFAULT ((0)) FOR [is_printed]
GO
ALTER TABLE [dbo].[Tickets] ADD  DEFAULT (getdate()) FOR [issued_at]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [loyalty_points]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[UserStatusLog] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[UserStatusLog] ADD  DEFAULT ((0)) FOR [email_sent]
GO
ALTER TABLE [dbo].[UserStatusLog] ADD  DEFAULT (getdate()) FOR [performed_at]
GO
ALTER TABLE [dbo].[VatRules] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[VatRules] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[VatRules] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[BookingPromotions]  WITH CHECK ADD  CONSTRAINT [FK_BookingPromotions_Booking] FOREIGN KEY([booking_id])
REFERENCES [dbo].[Bookings] ([id])
GO
ALTER TABLE [dbo].[BookingPromotions] CHECK CONSTRAINT [FK_BookingPromotions_Booking]
GO
ALTER TABLE [dbo].[BookingPromotions]  WITH CHECK ADD  CONSTRAINT [FK_BookingPromotions_Promotion] FOREIGN KEY([promotion_id])
REFERENCES [dbo].[Promotions] ([id])
GO
ALTER TABLE [dbo].[BookingPromotions] CHECK CONSTRAINT [FK_BookingPromotions_Promotion]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Showtime] FOREIGN KEY([showtime_id])
REFERENCES [dbo].[Showtimes] ([id])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Showtime]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Staff] FOREIGN KEY([created_by_staff_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Staff]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_User]
GO
ALTER TABLE [dbo].[BookingSeats]  WITH CHECK ADD  CONSTRAINT [FK_BookingSeats_Booking] FOREIGN KEY([booking_id])
REFERENCES [dbo].[Bookings] ([id])
GO
ALTER TABLE [dbo].[BookingSeats] CHECK CONSTRAINT [FK_BookingSeats_Booking]
GO
ALTER TABLE [dbo].[BookingSeats]  WITH CHECK ADD  CONSTRAINT [FK_BookingSeats_Seat] FOREIGN KEY([seat_id])
REFERENCES [dbo].[Seats] ([id])
GO
ALTER TABLE [dbo].[BookingSeats] CHECK CONSTRAINT [FK_BookingSeats_Seat]
GO
ALTER TABLE [dbo].[LoyaltyPointsLog]  WITH CHECK ADD  CONSTRAINT [FK_LoyaltyPointsLog_Booking] FOREIGN KEY([booking_id])
REFERENCES [dbo].[Bookings] ([id])
GO
ALTER TABLE [dbo].[LoyaltyPointsLog] CHECK CONSTRAINT [FK_LoyaltyPointsLog_Booking]
GO
ALTER TABLE [dbo].[LoyaltyPointsLog]  WITH CHECK ADD  CONSTRAINT [FK_LoyaltyPointsLog_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[LoyaltyPointsLog] CHECK CONSTRAINT [FK_LoyaltyPointsLog_User]
GO
ALTER TABLE [dbo].[MovieGenres]  WITH CHECK ADD  CONSTRAINT [FK_MovieGenres_Genre] FOREIGN KEY([genre_id])
REFERENCES [dbo].[Genres] ([id])
GO
ALTER TABLE [dbo].[MovieGenres] CHECK CONSTRAINT [FK_MovieGenres_Genre]
GO
ALTER TABLE [dbo].[MovieGenres]  WITH CHECK ADD  CONSTRAINT [FK_MovieGenres_Movie] FOREIGN KEY([movie_id])
REFERENCES [dbo].[Movies] ([id])
GO
ALTER TABLE [dbo].[MovieGenres] CHECK CONSTRAINT [FK_MovieGenres_Movie]
GO
ALTER TABLE [dbo].[MovieReviews]  WITH CHECK ADD  CONSTRAINT [FK_MovieReviews_Movie] FOREIGN KEY([movie_id])
REFERENCES [dbo].[Movies] ([id])
GO
ALTER TABLE [dbo].[MovieReviews] CHECK CONSTRAINT [FK_MovieReviews_Movie]
GO
ALTER TABLE [dbo].[MovieReviews]  WITH CHECK ADD  CONSTRAINT [FK_MovieReviews_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[MovieReviews] CHECK CONSTRAINT [FK_MovieReviews_User]
GO
ALTER TABLE [dbo].[PasswordResetTokens]  WITH CHECK ADD  CONSTRAINT [FK_PasswordResetTokens_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[PasswordResetTokens] CHECK CONSTRAINT [FK_PasswordResetTokens_User]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Booking] FOREIGN KEY([booking_id])
REFERENCES [dbo].[Bookings] ([id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Booking]
GO
ALTER TABLE [dbo].[PricingRules]  WITH CHECK ADD  CONSTRAINT [FK_PricingRules_Created] FOREIGN KEY([created_by])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[PricingRules] CHECK CONSTRAINT [FK_PricingRules_Created]
GO
ALTER TABLE [dbo].[ReviewDeletionLog]  WITH CHECK ADD  CONSTRAINT [FK_ReviewDeletionLog_DeletedBy] FOREIGN KEY([deleted_by])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[ReviewDeletionLog] CHECK CONSTRAINT [FK_ReviewDeletionLog_DeletedBy]
GO
ALTER TABLE [dbo].[ReviewDeletionLog]  WITH CHECK ADD  CONSTRAINT [FK_ReviewDeletionLog_Movie] FOREIGN KEY([movie_id])
REFERENCES [dbo].[Movies] ([id])
GO
ALTER TABLE [dbo].[ReviewDeletionLog] CHECK CONSTRAINT [FK_ReviewDeletionLog_Movie]
GO
ALTER TABLE [dbo].[ReviewDeletionLog]  WITH CHECK ADD  CONSTRAINT [FK_ReviewDeletionLog_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[ReviewDeletionLog] CHECK CONSTRAINT [FK_ReviewDeletionLog_User]
GO
ALTER TABLE [dbo].[SeatHolds]  WITH CHECK ADD  CONSTRAINT [FK_SeatHolds_Seat] FOREIGN KEY([seat_id])
REFERENCES [dbo].[Seats] ([id])
GO
ALTER TABLE [dbo].[SeatHolds] CHECK CONSTRAINT [FK_SeatHolds_Seat]
GO
ALTER TABLE [dbo].[SeatHolds]  WITH CHECK ADD  CONSTRAINT [FK_SeatHolds_Showtime] FOREIGN KEY([showtime_id])
REFERENCES [dbo].[Showtimes] ([id])
GO
ALTER TABLE [dbo].[SeatHolds] CHECK CONSTRAINT [FK_SeatHolds_Showtime]
GO
ALTER TABLE [dbo].[SeatHolds]  WITH CHECK ADD  CONSTRAINT [FK_SeatHolds_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[SeatHolds] CHECK CONSTRAINT [FK_SeatHolds_User]
GO
ALTER TABLE [dbo].[Seats]  WITH CHECK ADD  CONSTRAINT [FK_Seats_Room] FOREIGN KEY([room_id])
REFERENCES [dbo].[CinemaRooms] ([id])
GO
ALTER TABLE [dbo].[Seats] CHECK CONSTRAINT [FK_Seats_Room]
GO
ALTER TABLE [dbo].[Seats]  WITH CHECK ADD  CONSTRAINT [FK_Seats_Type] FOREIGN KEY([seat_type_id])
REFERENCES [dbo].[SeatTypes] ([id])
GO
ALTER TABLE [dbo].[Seats] CHECK CONSTRAINT [FK_Seats_Type]
GO
ALTER TABLE [dbo].[ShowtimeIncidents]  WITH CHECK ADD  CONSTRAINT [FK_ShowtimeIncidents_Created] FOREIGN KEY([created_by])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[ShowtimeIncidents] CHECK CONSTRAINT [FK_ShowtimeIncidents_Created]
GO
ALTER TABLE [dbo].[ShowtimeIncidents]  WITH CHECK ADD  CONSTRAINT [FK_ShowtimeIncidents_Showtime] FOREIGN KEY([showtime_id])
REFERENCES [dbo].[Showtimes] ([id])
GO
ALTER TABLE [dbo].[ShowtimeIncidents] CHECK CONSTRAINT [FK_ShowtimeIncidents_Showtime]
GO
ALTER TABLE [dbo].[Showtimes]  WITH CHECK ADD  CONSTRAINT [FK_Showtimes_Created] FOREIGN KEY([created_by])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Showtimes] CHECK CONSTRAINT [FK_Showtimes_Created]
GO
ALTER TABLE [dbo].[Showtimes]  WITH CHECK ADD  CONSTRAINT [FK_Showtimes_Movie] FOREIGN KEY([movie_id])
REFERENCES [dbo].[Movies] ([id])
GO
ALTER TABLE [dbo].[Showtimes] CHECK CONSTRAINT [FK_Showtimes_Movie]
GO
ALTER TABLE [dbo].[Showtimes]  WITH CHECK ADD  CONSTRAINT [FK_Showtimes_Room] FOREIGN KEY([room_id])
REFERENCES [dbo].[CinemaRooms] ([id])
GO
ALTER TABLE [dbo].[Showtimes] CHECK CONSTRAINT [FK_Showtimes_Room]
GO
ALTER TABLE [dbo].[SystemConfig]  WITH CHECK ADD  CONSTRAINT [FK_SystemConfig_Updated] FOREIGN KEY([updated_by])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[SystemConfig] CHECK CONSTRAINT [FK_SystemConfig_Updated]
GO
ALTER TABLE [dbo].[SystemConfigLog]  WITH CHECK ADD  CONSTRAINT [FK_SystemConfigLog_User] FOREIGN KEY([updated_by])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[SystemConfigLog] CHECK CONSTRAINT [FK_SystemConfigLog_User]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK_Tickets_BookingSeat] FOREIGN KEY([booking_seat_id])
REFERENCES [dbo].[BookingSeats] ([id])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_Tickets_BookingSeat]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Role] FOREIGN KEY([role_id])
REFERENCES [dbo].[Roles] ([id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Role]
GO
ALTER TABLE [dbo].[UserStatusLog]  WITH CHECK ADD  CONSTRAINT [FK_UserStatusLog_PerformedBy] FOREIGN KEY([performed_by])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[UserStatusLog] CHECK CONSTRAINT [FK_UserStatusLog_PerformedBy]
GO
ALTER TABLE [dbo].[UserStatusLog]  WITH CHECK ADD  CONSTRAINT [FK_UserStatusLog_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[UserStatusLog] CHECK CONSTRAINT [FK_UserStatusLog_User]
GO
ALTER TABLE [dbo].[BookingPromotions]  WITH CHECK ADD  CONSTRAINT [CK_BookingPromotions_Discount] CHECK  (([discount_applied]>=(0)))
GO
ALTER TABLE [dbo].[BookingPromotions] CHECK CONSTRAINT [CK_BookingPromotions_Discount]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [CK_Bookings_Amounts] CHECK  (([total_amount]>=(0) AND [discount_amount]>=(0) AND [final_amount]>=(0)))
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [CK_Bookings_Amounts]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [CK_Bookings_OfflineInfo] CHECK  (([booking_source]='ONLINE' OR [booking_source]='OFFLINE' AND [customer_name] IS NOT NULL AND [customer_phone] IS NOT NULL))
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [CK_Bookings_OfflineInfo]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [CK_Bookings_PayStatus] CHECK  (([payment_status]='FAILED' OR [payment_status]='PAID' OR [payment_status]='UNPAID'))
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [CK_Bookings_PayStatus]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [CK_Bookings_Source] CHECK  (([booking_source]='OFFLINE' OR [booking_source]='ONLINE'))
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [CK_Bookings_Source]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [CK_Bookings_Status] CHECK  (([booking_status]='REFUNDED' OR [booking_status]='EXPIRED' OR [booking_status]='CANCELLED' OR [booking_status]='CONFIRMED' OR [booking_status]='PENDING'))
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [CK_Bookings_Status]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [CK_Bookings_Vat] CHECK  (([vat_rate_snapshot]>=(0) AND [vat_rate_snapshot]<=(100)))
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [CK_Bookings_Vat]
GO
ALTER TABLE [dbo].[BookingSeats]  WITH CHECK ADD  CONSTRAINT [CK_BookingSeats_Price] CHECK  (([ticket_price]>(0)))
GO
ALTER TABLE [dbo].[BookingSeats] CHECK CONSTRAINT [CK_BookingSeats_Price]
GO
ALTER TABLE [dbo].[CinemaRooms]  WITH CHECK ADD  CONSTRAINT [CK_CinemaRooms_Cap] CHECK  (([capacity]>=(0)))
GO
ALTER TABLE [dbo].[CinemaRooms] CHECK CONSTRAINT [CK_CinemaRooms_Cap]
GO
ALTER TABLE [dbo].[CinemaRooms]  WITH CHECK ADD  CONSTRAINT [CK_CinemaRooms_Status] CHECK  (([status]='INACTIVE' OR [status]='MAINTENANCE' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[CinemaRooms] CHECK CONSTRAINT [CK_CinemaRooms_Status]
GO
ALTER TABLE [dbo].[LoyaltyPointsLog]  WITH CHECK ADD  CONSTRAINT [CK_LoyaltyPointsLog_Earn] CHECK  ((NOT ([transaction_type]='REFUND_POINTS' OR [transaction_type]='EARN') OR [points_delta]>(0)))
GO
ALTER TABLE [dbo].[LoyaltyPointsLog] CHECK CONSTRAINT [CK_LoyaltyPointsLog_Earn]
GO
ALTER TABLE [dbo].[LoyaltyPointsLog]  WITH CHECK ADD  CONSTRAINT [CK_LoyaltyPointsLog_Redeem] CHECK  (([transaction_type]<>'REDEEM' OR [points_delta]<(0)))
GO
ALTER TABLE [dbo].[LoyaltyPointsLog] CHECK CONSTRAINT [CK_LoyaltyPointsLog_Redeem]
GO
ALTER TABLE [dbo].[LoyaltyPointsLog]  WITH CHECK ADD  CONSTRAINT [CK_LoyaltyPointsLog_Type] CHECK  (([transaction_type]='ADJUST' OR [transaction_type]='REFUND_POINTS' OR [transaction_type]='REDEEM' OR [transaction_type]='EARN'))
GO
ALTER TABLE [dbo].[LoyaltyPointsLog] CHECK CONSTRAINT [CK_LoyaltyPointsLog_Type]
GO
ALTER TABLE [dbo].[MovieReviews]  WITH CHECK ADD  CONSTRAINT [CK_MovieReviews_Rating] CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
ALTER TABLE [dbo].[MovieReviews] CHECK CONSTRAINT [CK_MovieReviews_Rating]
GO
ALTER TABLE [dbo].[Movies]  WITH CHECK ADD  CONSTRAINT [CK_Movies_Age] CHECK  (([age_rating]='C' OR [age_rating]='T18' OR [age_rating]='T16' OR [age_rating]='T13' OR [age_rating]='K' OR [age_rating]='P' OR [age_rating] IS NULL))
GO
ALTER TABLE [dbo].[Movies] CHECK CONSTRAINT [CK_Movies_Age]
GO
ALTER TABLE [dbo].[Movies]  WITH CHECK ADD  CONSTRAINT [CK_Movies_Duration] CHECK  (([duration_minutes]>(0)))
GO
ALTER TABLE [dbo].[Movies] CHECK CONSTRAINT [CK_Movies_Duration]
GO
ALTER TABLE [dbo].[Movies]  WITH CHECK ADD  CONSTRAINT [CK_Movies_Rating] CHECK  (([average_rating]>=(0.00) AND [average_rating]<=(5.00) OR [average_rating] IS NULL))
GO
ALTER TABLE [dbo].[Movies] CHECK CONSTRAINT [CK_Movies_Rating]
GO
ALTER TABLE [dbo].[Movies]  WITH CHECK ADD  CONSTRAINT [CK_Movies_Status] CHECK  (([status]='ENDED' OR [status]='EARLY_SHOWING' OR [status]='NOW_SHOWING' OR [status]='COMING_SOON'))
GO
ALTER TABLE [dbo].[Movies] CHECK CONSTRAINT [CK_Movies_Status]
GO
ALTER TABLE [dbo].[PasswordResetTokens]  WITH CHECK ADD  CONSTRAINT [CK_PasswordResetTokens_Purpose] CHECK  (([purpose]='PROFILE_SECURITY' OR [purpose]='PASSWORD_RESET' OR [purpose]='REGISTER_VERIFY'))
GO
ALTER TABLE [dbo].[PasswordResetTokens] CHECK CONSTRAINT [CK_PasswordResetTokens_Purpose]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [CK_Payments_Amount] CHECK  (([amount]>(0)))
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [CK_Payments_Amount]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [CK_Payments_Cash] CHECK  (([cash_received] IS NULL OR [cash_received]>=(0)))
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [CK_Payments_Cash]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [CK_Payments_Change] CHECK  (([change_amount] IS NULL OR [change_amount]>=(0)))
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [CK_Payments_Change]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [CK_Payments_Method] CHECK  (([payment_method]='VIETQR' OR [payment_method]='CASH' OR [payment_method]='MOMO' OR [payment_method]='VNPAY'))
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [CK_Payments_Method]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [CK_Payments_Source] CHECK  (([payment_source]='OFFLINE' OR [payment_source]='ONLINE'))
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [CK_Payments_Source]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [CK_Payments_Status] CHECK  (([payment_status]='FAILED' OR [payment_status]='SUCCESS' OR [payment_status]='PENDING'))
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [CK_Payments_Status]
GO
ALTER TABLE [dbo].[PricingRules]  WITH CHECK ADD  CONSTRAINT [CK_PricingRules_Adjust] CHECK  (([adjustment_type]='FIXED_AMOUNT' OR [adjustment_type]='PERCENTAGE'))
GO
ALTER TABLE [dbo].[PricingRules] CHECK CONSTRAINT [CK_PricingRules_Adjust]
GO
ALTER TABLE [dbo].[PricingRules]  WITH CHECK ADD  CONSTRAINT [CK_PricingRules_Condition] CHECK  (([condition_type]='SPECIFIC_DATE' OR [condition_type]='DATE_RANGE' OR [condition_type]='TIME_RANGE' OR [condition_type]='DAY_OF_WEEK'))
GO
ALTER TABLE [dbo].[PricingRules] CHECK CONSTRAINT [CK_PricingRules_Condition]
GO
ALTER TABLE [dbo].[PricingRules]  WITH CHECK ADD  CONSTRAINT [CK_PricingRules_Status] CHECK  (([status]='INACTIVE' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[PricingRules] CHECK CONSTRAINT [CK_PricingRules_Status]
GO
ALTER TABLE [dbo].[Promotions]  WITH CHECK ADD  CONSTRAINT [CK_Promotions_Dates] CHECK  (([end_date]>[start_date]))
GO
ALTER TABLE [dbo].[Promotions] CHECK CONSTRAINT [CK_Promotions_Dates]
GO
ALTER TABLE [dbo].[Promotions]  WITH CHECK ADD  CONSTRAINT [CK_Promotions_Pct] CHECK  (([discount_type]<>'PERCENTAGE' OR [discount_value]>(0) AND [discount_value]<=(100)))
GO
ALTER TABLE [dbo].[Promotions] CHECK CONSTRAINT [CK_Promotions_Pct]
GO
ALTER TABLE [dbo].[Promotions]  WITH CHECK ADD  CONSTRAINT [CK_Promotions_Status] CHECK  (([status]='EXPIRED' OR [status]='INACTIVE' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[Promotions] CHECK CONSTRAINT [CK_Promotions_Status]
GO
ALTER TABLE [dbo].[Promotions]  WITH CHECK ADD  CONSTRAINT [CK_Promotions_Type] CHECK  (([discount_type]='FIXED_AMOUNT' OR [discount_type]='PERCENTAGE'))
GO
ALTER TABLE [dbo].[Promotions] CHECK CONSTRAINT [CK_Promotions_Type]
GO
ALTER TABLE [dbo].[Promotions]  WITH CHECK ADD  CONSTRAINT [CK_Promotions_Usage] CHECK  (([usage_limit] IS NULL OR [usage_limit]>(0)))
GO
ALTER TABLE [dbo].[Promotions] CHECK CONSTRAINT [CK_Promotions_Usage]
GO
ALTER TABLE [dbo].[Promotions]  WITH CHECK ADD  CONSTRAINT [CK_Promotions_Used] CHECK  (([used_count]>=(0)))
GO
ALTER TABLE [dbo].[Promotions] CHECK CONSTRAINT [CK_Promotions_Used]
GO
ALTER TABLE [dbo].[Promotions]  WITH CHECK ADD  CONSTRAINT [CK_Promotions_Value] CHECK  (([discount_value]>(0)))
GO
ALTER TABLE [dbo].[Promotions] CHECK CONSTRAINT [CK_Promotions_Value]
GO
ALTER TABLE [dbo].[Roles]  WITH CHECK ADD  CONSTRAINT [CK_Roles_Name] CHECK  (([role_name]='ADMIN' OR [role_name]='MANAGER' OR [role_name]='STAFF' OR [role_name]='CUSTOMER'))
GO
ALTER TABLE [dbo].[Roles] CHECK CONSTRAINT [CK_Roles_Name]
GO
ALTER TABLE [dbo].[Seats]  WITH CHECK ADD  CONSTRAINT [CK_Seats_Col] CHECK  (([seat_column]>(0)))
GO
ALTER TABLE [dbo].[Seats] CHECK CONSTRAINT [CK_Seats_Col]
GO
ALTER TABLE [dbo].[SeatTypes]  WITH CHECK ADD  CONSTRAINT [CK_SeatTypes_Multi] CHECK  (([price_multiplier]>(0)))
GO
ALTER TABLE [dbo].[SeatTypes] CHECK CONSTRAINT [CK_SeatTypes_Multi]
GO
ALTER TABLE [dbo].[SeatTypes]  WITH CHECK ADD  CONSTRAINT [CK_SeatTypes_SeatSpan] CHECK  (([seat_span]=(2) OR [seat_span]=(1)))
GO
ALTER TABLE [dbo].[SeatTypes] CHECK CONSTRAINT [CK_SeatTypes_SeatSpan]
GO
ALTER TABLE [dbo].[ShowtimeIncidents]  WITH CHECK ADD  CONSTRAINT [CK_ShowtimeIncidents_DiscType] CHECK  (([compensation_discount_type]='FIXED_AMOUNT' OR [compensation_discount_type]='PERCENTAGE'))
GO
ALTER TABLE [dbo].[ShowtimeIncidents] CHECK CONSTRAINT [CK_ShowtimeIncidents_DiscType]
GO
ALTER TABLE [dbo].[ShowtimeIncidents]  WITH CHECK ADD  CONSTRAINT [CK_ShowtimeIncidents_Refund] CHECK  (([refund_points_rate]>=(0.00) AND [refund_points_rate]<=(1.00)))
GO
ALTER TABLE [dbo].[ShowtimeIncidents] CHECK CONSTRAINT [CK_ShowtimeIncidents_Refund]
GO
ALTER TABLE [dbo].[ShowtimeIncidents]  WITH CHECK ADD  CONSTRAINT [CK_ShowtimeIncidents_ValDays] CHECK  (([compensation_valid_days]>(0)))
GO
ALTER TABLE [dbo].[ShowtimeIncidents] CHECK CONSTRAINT [CK_ShowtimeIncidents_ValDays]
GO
ALTER TABLE [dbo].[ShowtimeIncidents]  WITH CHECK ADD  CONSTRAINT [CK_ShowtimeIncidents_Value] CHECK  (([compensation_discount_value]>(0)))
GO
ALTER TABLE [dbo].[ShowtimeIncidents] CHECK CONSTRAINT [CK_ShowtimeIncidents_Value]
GO
ALTER TABLE [dbo].[Showtimes]  WITH CHECK ADD  CONSTRAINT [CK_Showtimes_Price] CHECK  (([base_price]>(0)))
GO
ALTER TABLE [dbo].[Showtimes] CHECK CONSTRAINT [CK_Showtimes_Price]
GO
ALTER TABLE [dbo].[Showtimes]  WITH CHECK ADD  CONSTRAINT [CK_Showtimes_Status] CHECK  (([status]='FINISHED' OR [status]='CANCELLED' OR [status]='SOLD_OUT' OR [status]='OPEN' OR [status]='SCHEDULED'))
GO
ALTER TABLE [dbo].[Showtimes] CHECK CONSTRAINT [CK_Showtimes_Status]
GO
ALTER TABLE [dbo].[Showtimes]  WITH CHECK ADD  CONSTRAINT [CK_Showtimes_Times] CHECK  (([end_time]>[start_time]))
GO
ALTER TABLE [dbo].[Showtimes] CHECK CONSTRAINT [CK_Showtimes_Times]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_Dob] CHECK  (([date_of_birth]<=CONVERT([date],getdate())))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_Dob]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_Ident] CHECK  (([email] IS NOT NULL OR [username] IS NOT NULL OR [phone_number] IS NOT NULL))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_Ident]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_Loyalty] CHECK  (([loyalty_points]>=(0)))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_Loyalty]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_Status] CHECK  (([status]='BANNED' OR [status]='INACTIVE' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_Status]
GO
ALTER TABLE [dbo].[UserStatusLog]  WITH CHECK ADD  CONSTRAINT [CK_UserStatusLog_Action] CHECK  (([action]=N'UNLOCK' OR [action]=N'LOCK'))
GO
ALTER TABLE [dbo].[UserStatusLog] CHECK CONSTRAINT [CK_UserStatusLog_Action]
GO
ALTER TABLE [dbo].[UserStatusLog]  WITH CHECK ADD  CONSTRAINT [CK_UserStatusLog_NewStatus] CHECK  (([new_status]=N'BANNED' OR [new_status]=N'ACTIVE'))
GO
ALTER TABLE [dbo].[UserStatusLog] CHECK CONSTRAINT [CK_UserStatusLog_NewStatus]
GO
ALTER TABLE [dbo].[UserStatusLog]  WITH CHECK ADD  CONSTRAINT [CK_UserStatusLog_PrevStatus] CHECK  (([previous_status]='BANNED' OR [previous_status]='INACTIVE' OR [previous_status]='ACTIVE'))
GO
ALTER TABLE [dbo].[UserStatusLog] CHECK CONSTRAINT [CK_UserStatusLog_PrevStatus]
GO
ALTER TABLE [dbo].[VatRules]  WITH CHECK ADD  CONSTRAINT [CK_VatRules_Dates] CHECK  (([end_date] IS NULL OR [end_date]>[start_date]))
GO
ALTER TABLE [dbo].[VatRules] CHECK CONSTRAINT [CK_VatRules_Dates]
GO
ALTER TABLE [dbo].[VatRules]  WITH CHECK ADD  CONSTRAINT [CK_VatRules_Rate] CHECK  (([vat_rate]>=(0) AND [vat_rate]<=(100)))
GO
ALTER TABLE [dbo].[VatRules] CHECK CONSTRAINT [CK_VatRules_Rate]
GO
ALTER TABLE [dbo].[VatRules]  WITH CHECK ADD  CONSTRAINT [CK_VatRules_Status] CHECK  (([status]='INACTIVE' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[VatRules] CHECK CONSTRAINT [CK_VatRules_Status]
GO
